<header class="mg-bottom-30">
  <div class="brand inline-flex justify-content-center">
      <h2>TRANSPORTE INTERESTADUAL DE CARGAS</h2>
  </div>
  <nav class="navbar inline-flex justify-content-center">
    <div class="inline-flex justify-content-center">
        <button class="navbar-item" (click)="navigate('/trecho-modalidade')">1 - Consultar trecho x modalidade</button>
        <button class="navbar-item" (click)="navigate('/transporte')">2 - Cadastrar transporte</button>
        <button class="navbar-item" (click)="navigate('/estatisticas')">3 - Dados estatísticos</button>
        <button class="navbar-item" (click)="navigate('/sair')">4 - Sair</button>
    </div>
  </nav>
</header>